/* Header */

.logo {
  height: 12em;
}

.icon {
  width: 2em;
  margin-left: 1em;
}

/* Nav */

.navbar {
  background-color: rgb(198,31,39);
  margin: 50px;
}

.nav-item {
  font-size: 1.2em;
  color: rgb(45,45,45);
  background-color: white;
}

.nav-item:hover{
  background-color: rgb(198,31,39);
}

.navbar-nav .nav-item .nav-link {
  color: rgb(40, 40, 40);
  font-weight: bold;
  font-size: 1.2em;
}
.navbar-nav .nav-item .nav-link:hover {
  color: white;
}