/* Header */

.logo {
  height: 12em;
}

.icon {
  width: 2em;
  margin-left: 1em;
}

/* Nav */

.navbar {
  background-color: rgb(198,31,39);
  margin: 50px;
}

.nav-item {
  font-size: 1.2em;
  color: rgb(45,45,45);
  background-color: white;
}

.nav-item:hover{
  background-color: rgb(198,31,39);
}

.navbar-nav .nav-item .nav-link {
  color: rgb(40, 40, 40);
  font-weight: bold;
  font-size: 1.2em;
}
.navbar-nav .nav-item .nav-link:hover {
  color: white;
}

/* Main */

main > aside {
  border: 1px solid black;
}

aside > div > h1 {
  border: 5px solid rgb(198,31,39);
  border-bottom: 0;
  height: 60px;
  margin: 0;
}

aside > div > div {
  border: 5px solid rgb(198,31,39);
  height: 60px;
  margin: 0;
}

main > div {
  border: 1px solid black;
  height: 800px;
}